<div class="span4 offset2">
93 Harold Night suggestions given to <a href="http://sandino.improvteams.com/" target="_blank">Sandino</a>, one of the greats. Taken from <a target="_blank" href="http://johntimothy.tumblr.com/post/32328211451/93-harold-night-suggestions">this tumblr post</a>.
<h4 class="span2 offset1"><%= @suggestion %></h3>
<a class="btn btn-large btn-primary span3" href="/sandino">Get New Suggestion</a>
</div>
