<div class="span6 offset2">
  <h3 class="span6">Okay so it's...</h3>
  <span class="span6"><%= @first %> meets <%= @second %> with a hint of <%= @third %></span>
  <a class="btn btn-large btn-primary span4 offset1" href="/sitcom">Get New Suggestion</a>
</div>
