<div class="span4 offset2">
  The many suggestions of <a href="http://warriorv.improvteams.com/" target="_blank">Warrior V</a>.
  <h4 class="span2 offset1"><%= @suggestion %></h3>
  <a class="btn btn-large btn-primary span3" href="/sandino">Get New Suggestion</a>
</div>
